<!DOCTYPE html>
<html>

<head>
    <title>New Account Registeration</title>
</head>

<body style="font-size: 18px">
    <div style="width: 80%; margin: auto">
        <h1 style="font-size: 26px">Dear {{username}}</h1>
        <p style="font-size: 18px">A new account has been created for you. </p>
        <p>Default Password is: <b> {{password}}</b> </p>
        <a href="{{url}}"
            style="margin-top: .5em; display: inline-block; text-decoration: none; font-size: 18px; width: fit-content; padding: 5px 15px; border: 4px solid #000; color: #000">
            CLICK TO LOGIN </a>

        <br />
        <p>
            <code
                style="font-size: 16px; text-decoration: italic; margin-top: 1em">Remember to change your password under profile after logging in. </code>
        </p>
        <hr />
        <h6 style="font-size: 16px; margin-top: 10px">
            With ❤️<br />
            MLS Protection Team
        </h6>
    </div>
</body>

</html>